body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
  
}
.sahifa_boshi{
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-content: flex-end;
    justify-content: center;
    
}
.slesh{
    color: rgb(17, 0, 255);
    float: right;
    margin-right: 170px;
     
}
.page_1{
    width: 300px;
    background-color: rgb(206, 223, 217);
    padding-top: 10px;
    padding-left: 10px;
    
    
}

.page_1 h4{
    text-align: left;
    font-size: 15px;
    
}
.page_1 p{
    font-size: 30px;
}

.div_1{
    width: 280px;
    display: flex;
    gap: 80px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}
.div_1 p{
    font-size: 10px;
}
.div_2 p{
    font-size: 10px;
}



.page_2{
    width: 300px;
    background-color: rgb(206, 223, 217);
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    
}
.page_2 p{
    font-size: 30px;
}
.page_2 .slesh{
    
    margin-right: 160px;
     
}

.div_3{
    width: 280px;
    display: flex;
    gap: 80px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}
.div_3 p{
    font-size: 10px;
}
.div_4 p{
    font-size: 10px
}

.page_3{
    width: 300px;
    background-color: rgb(206, 223, 217);
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    
}
.page_3 p{
    font-size: 30px;
}

.page_3 .slesh{
    
    margin-right: 160px;
     
}
.page_3 h4{
    text-align: left;
    font-size: 15px;
    
}
.div_5{
    width: 280px;
    display: flex;
    gap: 80px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}
.div_5 p{ 
    font-size: 10px;
   
}

.div_6 p{
    font-size: 10px;
}


